{% extends "template.html.twig" %}

{% block content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="">Homepage</h1>
	</div>

	{% if categories|length > 0 %}

		<div class="d-flex align-items-center mb-4" style="gap: 15px;">
			<h3>Categories</h3>
			<button id="left-button" class="btn btn-info text-white">
				<span data-feather="chevron-left" class="align-text-bottom"></span>
			</button>
			<button id="right-button" class="btn btn-info text-white">
				<span data-feather="chevron-right" class="align-text-bottom"></span>
			</button>
		</div>
		
		<div id="categories" class="row flex-row flex-nowrap" style="gap:15px; overflow-x: scroll;">
			{% for cat in categories %}
				<div class="card" style="width: 18rem;">
					<a href="{{ app.request.uri|trim('/', 'right') ~ "/" ~ cat.slug }}" class="text-decoration-none">
						<div class="card-body">
							<h5 class="card-title">{{ cat.name }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ cat.slug }}</h6>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<span data-feather="arrow-right" class="align-text-bottom"></span>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>

	{% endif %}

{% endblock %}

{% block javascript %}
	<script>
		jQuery(document).ready(function ($) {
			$('#right-button').click(function () {
				event.preventDefault();
				$('#categories').animate({
				scrollLeft: "+=900px"
				}, "slow");
			});

			$('#left-button').click(function () {
				event.preventDefault();
				$('#categories').animate({
				scrollLeft: "-=900px"
				}, "slow");
			});
});
	</script>
{% endblock %}
